@using MarketPlace.Core.Models

@model AllProductsModel

<div class="col-md-4">
    <div class="card mb-3" style="width: 15rem;">
        <div class="card-body text-center">
            <h5 class="card-title mt-1">@Model.Name</h5>
            <img class="card-img-top" src=@Model.Image alt="Product Image" style="width:128px;height:128px;">
            <p class="mb-0"><span class="fw-bold">Added on: </span>@Model.CreatedOn</p>
            <p class="mb-0"><span class="fw-bold">Category: </span>@Model.Category</p>
            @*  <p class="mb-0"><span class="fw-bold">Description: </span>@a.Description</p> *@
            <p class="mb-0"><span class="fw-bold">Price: </span>@Model.Price Euro</p>
            <p class="mb-0"><span class="fw-bold">Seller: </span>@Model.Seller</p>
            <p class="mb-0"><span class="fw-bold">Quantity: </span>@Model.Quantity</p>
            <p class="mb-0"><span class="fw-bold">Rating: </span>@Model.Rating</p>
        </div>

        @if (User.Identity.Name == Model.Seller)
        {
            <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="fs-6 btn btn-outline-dark mb-3 w-100 p-2 fw-bold">Edit</a>
            <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" class="fs-6 btn btn-outline-danger mb-3 w-100 p-2 fw-bold">Delete</a>
        }
        else
        {
            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" class="fs-6 btn btn-outline-success mb-3 w-100 p-2 fw-bold">Add to Cart</a>
            <a asp-controller="Cart" asp-action="Details" asp-route-id="@Model.Id" class="fs-6 btn btn-outline-success mb-3 w-100 p-2 fw-bold">Details</a>
        }
    </div>
</div>
